@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root  {
    --background: 245 100% 95%;
    --foreground: 245 5% 10%;
    --card: 245 50% 90%;
    --card-foreground: 245 5% 15%;
    --popover: 245 100% 95%;
    --popover-foreground: 245 100% 10%;
    --primary: 245 39% 39.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 245 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 207 30% 85%;
    --muted-foreground: 245 5% 40%;
    --accent: 207 30% 80%;
    --accent-foreground: 245 5% 15%;
    --destructive: 0 100% 47%;
    --destructive-foreground: 245 5% 90%;
    --border: 245 30% 50%;
    --input: 245 30% 47%;
    --ring: 245 39% 39.2%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 245 50% 10%;
    --foreground: 245 5% 90%;
    --card: 245 50% 10%;
    --card-foreground: 245 5% 90%;
    --popover: 245 50% 5%;
    --popover-foreground: 245 5% 90%;
    --primary: 245 39% 39.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 245 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 207 30% 25%;
    --muted-foreground: 245 5% 60%;
    --accent: 207 30% 25%;
    --accent-foreground: 245 5% 90%;
    --destructive: 0 100% 47%;
    --destructive-foreground: 245 5% 90%;
    --border: 245 30% 47%;
    --input: 245 30% 47%;
    --ring: 245 39% 39.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
